<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questões</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <h1 class="my-4">Questões Encontradas</h1>
    <div th:utext="${treatedText}"></div>

    <!-- Container para gerar questões dinamicamente -->
    <div id="questionsContainer"></div>
</div>
</body>
</html>
